---
import Layout from "../layouts/Layout.astro";
import Hero from "../components/Hero.astro";
import Features from "../components/Features.astro";
import WhySelfHost from "../components/WhySelfHost.astro";
import QuickStart from "../components/QuickStart.astro";
import Status from "../components/Status.astro";
import Footer from "../components/Footer.astro";
---

<Layout>
  <main>
    <Hero />
    <Features />
    <WhySelfHost />
    <QuickStart />
    <Status />
  </main>
  <Footer />
</Layout>
